* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  background-color: #f0fff0;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
  padding-bottom: 8px;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.header__inner {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  text-align: right;
}

#about-me,
#education,
#skills,
.projects,
.footer {
  padding: 25px 0;
}

.navigation{
	max-width: 400px;
	margin: 0 auto;
	padding: 10px;
	align-items: center;
}

.navigation ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-me__text,
.education__text,
.skills__text,
.projects__text,
.footer__text {
  text-align: center;
  margin-bottom: 20px;
}

.about-me__description {
  text-align: left;
}

.skills__link {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 600px) {
	.header__inner,
	.skills__description ul,
	.projects ol{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.photo{
		margin-bottom: 15px;
	}
 }
